body {
  height: 100%;
  width: 100%; }

html {
  height: 100%;
  width: 100%; }

canvas {
  width: 100% !important;
  height: 100% !important; }

.wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column; }

.chat__select {
  width: 100px;
  margin-left: 10px; }

.graphich__wrapper {
  margin-bottom: 150px; }

.graphich__wrapper_row {
  min-height: 300px; }

.graphich__wrapper_column {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column; }

.btn {
  margin: 2px;
  white-space: pre-line; }

.btn__wrapper {
  justify-content: space-around; }

.btn__wrapper1 {
  justify-content: center; }

.slideout-menu {
  display: flex; }

.slideout-menu-wrapper {
  padding-top: 2px; }

.slideout-menu-left {
  left: 0; }

.slideout-menu-right {
  right: 0; }

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #FFF;
  min-height: 100vh; }

.menu__label {
  text-align: center; }

.menu__btn {
  display: flex;
  flex-direction: column;
  align-items: center; }

.header__most-active {
  text-align: center;
  margin-bottom: 10px; }

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden; }

.slideout-open .slideout-menu {
  display: block; }

.wrapper__slider {
  margin: 20px; }

.stickers-bar-holder {
  display: inline-block;
  width: 92%; }

.img-mock {
  border-radius: 50%;
  margin: 1px;
  width: 100%;
  display: block; }

.stickers-holder {
  position: relative;
  vertical-align: top;
  display: inline-block;
  top: 35px;
  width: 7%; }

.chat-image {
  vertical-align: top;
  display: inline-block;
  border-radius: 50%;
  width: 25%;
  margin-right: 2%; }

.user-image {
  width: 100%;
  border-radius: 50%; }

.user-preview {
  margin: 1%;
  text-align: center;
  display: inline-block;
  width: 10%;
  font-size: 10px; }

.chat-profile-stats {
  font-size: 70%; }
  .chat-profile-stats label {
    display: block;
    margin-bottom: 0; }

.chat-profile-info {
  margin-left: 5%;
  text-align: left;
  display: inline-block; }
  .chat-profile-info label {
    font-size: 110%; }

@media screen and (max-width: 990px) {
  .stickers-holder {
    top: 31px; } }

@media screen and (max-width: 736px) {
  .stickers-holder {
    top: 29px; } }

@media screen and (max-width: 580px) {
  .stickers-holder {
    top: 27px; } }

@media screen and (max-width: 420px) {
  .stickers-holder {
    top: 29px;
    width: 6%; } }

@media screen and (max-width: 320px) {
  .stickers-holder {
    top: 24px;
    width: 6%; } }
