.chat-info-label {
  min-width: 200px; }

.chat-info {
  margin-bottom: 50px;
  max-height: 120px;
  justify-content: center; }

.header__most-active img {
  max-width: 120px;
  border-radius: 50%; }

.chat-info-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px; }

.chat-info__chatname {
  margin-bottom: 20px; }

.chat-info-more {
  flex-direction: column; }
  .chat-info-more label {
    white-space: nowrap;
    margin-bottom: 0; }
  .chat-info-more label.title {
    white-space: nowrap;
    text-align: right;
    display: flex; }

.chat-info-container {
  display: flex; }

.more {
  display: flex;
  margin: -1px;
  justify-content: center;
  background-color: #007bff;
  border-radius: 40px 0 40px 40px;
  padding: 10px;
  color: white;
  cursor: default; }

.search-btn {
  min-width: 90px; }

.chat-info-container {
  justify-content: center;
  margin-top: 30px;
  margin-left: -10px; }

.chat-info__photo {
  margin-top: -25px;
  margin-right: 10px; }

@media screen and (max-width: 432px) {
  .chat-info__photo {
    margin-right: 5px;
    margin-top: -15px; }
    .chat-info__photo img {
      max-width: 100px; } }
