.stickers-bar-holder {
  display: inline-block;
  width: 92%; }

.stickers-holder {
  position: relative;
  vertical-align: top;
  display: inline-block;
  top: 45px;
  width: 7%; }

.img-mock {
  border-radius: 50%;
  margin: 1px;
  width: 100%;
  display: block; }

.thumbnail:hover {
  margin-bottom: -142px;
  position: relative;
  top: -70px;
  left: -70px;
  width: 200px;
  height: auto;
  display: block; }

@media screen and (max-width: 1200px) {
  .stickers-holder {
    top: 37px; } }

@media screen and (max-width: 990px) {
  .stickers-holder {
    top: 31px; }
  .thumbnail:hover {
    margin-bottom: -160px; } }

@media screen and (max-width: 767px) {
  .stickers-holder {
    top: 29px; } }

@media screen and (max-width: 736px) {
  .stickers-holder {
    top: 29px; } }

@media screen and (max-width: 580px) {
  .stickers-holder {
    top: 27px; } }

@media screen and (max-width: 570px) {
  .thumbnail:hover {
    margin-bottom: -173px; }
  .stickers-holder {
    top: 27px; } }

@media screen and (max-width: 420px) {
  .stickers-holder {
    top: 29px;
    width: 6%; } }

@media screen and (max-width: 380px) {
  .thumbnail:hover {
    margin-bottom: -170px; }
  .stickers-holder {
    top: 29px;
    width: 6%; } }

@media screen and (max-width: 320px) {
  .thumbnail:hover {
    margin-bottom: -170px; }
  .stickers-holder {
    top: 24px;
    width: 6%; } }
