.summary-switch {
  margin-left: -8px; }

.words-switch {
  margin-left: -20px; }

.stickers-switch {
  margin-left: -20px; }

.activity-switch {
  margin-left: -32px; }

.input {
  display: none; }

.label {
  margin: 0 10px;
  font-size: 16px;
  font-family: sans-serif;
  color: #666666; }

.toggle-container {
  display: inline-block; }

.input + .toggle {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
  padding: 2px;
  width: 64px;
  height: 30px;
  background-color: #dddddd;
  border-radius: 30px;
  transition: background 0.4s;
  display: inline-block;
  vertical-align: middle; }
  .input + .toggle:before, .input + .toggle:after {
    display: block;
    position: absolute;
    content: ""; }
  .input + .toggle:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: #fff;
    border-radius: 30px;
    transition: background 0.4s; }
  .input + .toggle:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 26px;
    background-color: #dddddd;
    border-radius: 26px;
    transition: margin 0.4s, background 0.4s; }

.input:checked + .toggle {
  background-color: #8ce196; }
  .input:checked + .toggle:after {
    margin-left: 30px;
    background-color: #8ce196; }

.input:checked + .toggle.Orange {
  background-color: #fe8c5a; }
  .input:checked + .toggle.Orange:after {
    margin-left: 30px;
    background-color: #fe8c5a; }

.input:checked + .toggle.Yellow-Gray {
  background-color: #e8ce2e; }
  .input:checked + .toggle.Yellow-Gray:after {
    margin-left: 30px;
    background-color: #e8ce2e; }

.input:checked + .toggle.Green {
  background-color: #299d1a; }
  .input:checked + .toggle.Green:after {
    margin-left: 30px;
    background-color: #299d1a; }

.input:checked + .toggle.Aqua {
  background-color: #4571ca; }
  .input:checked + .toggle.Aqua:after {
    margin-left: 30px;
    background-color: #4571ca; }

.input:checked + .toggle.Purple-Gray {
  background-color: #54457f; }
  .input:checked + .toggle.Purple-Gray:after {
    margin-left: 30px;
    background-color: #54457f; }

.input:checked + .toggle.Pink {
  background-color: #ecacc7; }
  .input:checked + .toggle.Pink:after {
    margin-left: 30px;
    background-color: #ecacc7; }
