.users {
  margin-bottom: 50px;
  margin-left: 0.5%;
  display: flex;
  flex-direction: column; }

.users-list-wrap {
  justify-content: center;
  display: flex; }

.users-list {
  max-width: 790px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  max-height: 165px;
  overflow: hidden; }
  .users-list label {
    display: block;
    margin-bottom: 0px; }

.all {
  display: flex;
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 340px; }

.user-block {
  padding: 0px; }

.user__name {
  text-align: center; }

.users-search {
  justify-content: center; }
  .users-search input {
    margin-right: 1px;
    max-width: 250px; }

.users-search button {
  margin: 0px; }

@media (max-width: 991px) {
  .user-block {
    margin-left: 10px;
    margin-right: 10px; } }

@media (max-width: 767px) {
  .all {
    max-height: 335px; }
  .user-block {
    margin-left: 0px;
    margin-right: 0px; } }

@media (max-width: 400px) {
  .users-list {
    max-height: 145px; }
  .all {
    max-height: 290px; }
  .user-block {
    margin-left: 0px;
    margin-right: 0px; }
    .user-block div img {
      max-width: 100px; } }

@media (max-width: 320px) {
  .users-list {
    max-height: 112px; }
  .all {
    max-height: 230px; }
  .user-block {
    margin-left: 0px;
    margin-right: 0px;
    font-size: 12px; }
    .user-block div img {
      max-width: 80px; } }
