.unauthorized
  margin-left: 20%
  width: 1900px
  img
    position: relative
    max-width: 200px
    margin-top: 8%

.slideout-panel
  min-height: 101vh

.unauthorized-header
    font-size: 50px


.unauthorized-header-container
  opacity: 0
  animation: unauthorized-header ease-in 1 forwards 1s
  animation-delay: 1.5s
  div
    a
      margin-right: 1%

.security
  right: -10%
  -webkit-animation: kick cubic-bezier(.02,.69,.24,.94) 1 forwards 5.5s   /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: kick cubic-bezier(.08,.96,0,.0) 1 forwards 6s
  animation: kick cubic-bezier(.02,.69,.24,.94) 1 forwards 5.5s
  animation-delay: 0.5s


.navalny
  -webkit-animation: navalnyKicked cubic-bezier(.21,.02,0,1) 1 forwards 6s    /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: navalnyKicked cubic-bezier(.21,.02,0,1) 1 forwards 6s
  animation: navalnyKicked cubic-bezier(.21,.02,0,1) 1 forwards 6s
  animation-delay: 0.5s


.kick
  opacity: 0
  right: 22%
  -webkit-animation: kickEffect ease-in 1 forwards 0.5s   /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation: kickEffect ease-in 1 forwards 0.5s
  animation: kickEffect ease-in 1 forwards 0.5s
  animation-delay: 0.8s


/* make keyframes that tell the start state and the end state of our object */
@-webkit-keyframes kick
  from
    right: -10%
  to
    right: 28%

@-webkit-keyframes kickEffect
  50%
    opacity: 1
  100%
    opacity: 0

@-webkit-keyframes navalnyKicked
  from
    right: 0%
  to
    right: 33%

@-webkit-keyframes unauthorized-header
  from
    opacity: 0
  to
    opacity: 1


@media screen and (max-width: 1200px)
  .unauthorized
    margin-left: -8%

@media screen and (max-width: 768px)
  .unauthorized
    margin-left: 5%
    width: 1000px
    img
      max-width: 100px
  .kick
    max-width: 40px !important
    right: 20%

@media screen and (max-width: 440px)
  .security
    animation-delay: 1.5s
  .navalny
    animation-delay: 1.5s
  .kick
    animation-delay: 1.8s
  .unauthorized-header
    animation-delay: 2.5s
  .unauthorized
    margin-left: -40%